html, body{
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	text-align: center;
	width: 100%;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}

.outer_container{
	height: 76.2%;
	display: flex;
}

.container{
	width: 100%;
}

#google_photos{
	width: 98%;
	height: 100%;
}

.navbar.center .navbar-inner{
	text-align: center;
}

.navbar{
	padding-top: 10px;
	padding-bottom: 10px;
}

#top_bar{
	background-color: black;
	height: 5%;
	width: 100%;
}

#bottom_bar{
	padding-top: 20px;
	background-color: black;
	bottom: 0;
}

.navbar-brand{
	color: white;
	font-size: 200%;
}
